<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Driverpage</title>
</head>

<body>
    <h1>{{user.username}}'s driver mode</h1>
      {{ prompt }}
    <p><a href="/user/logout/">logout</a></p>
    <p><a href="/user/profile/">profile</a></p>
    <p><a href="/user/viewDriverOrder/">view your confirmed rides</a></p>
    <p><a href="/user/driverSearch/">search for a ride</a></p>
    <p><a href="/user/index/">into user mode</a></p>
  </body>
</html>
