<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Homepage</title>
</head>

<body>
    <h1>{{user.username}}'s Homepage</h1>
      {{ prompt }}
    <p><a href="/user/logout/">Logout</a></p>
    <p><a href="/user/regDriver/">To Be a Driver</a></p>
    <p><a href="/user/profile/">Profile</a></p>
    <p><a href="/user/requestRide/">Request a Ride</a></p>
    <p><a href="/user/joinOrderSearch/">Join an order</a></p>
    <p><a href="/user/viewRide/">Edit your Order</a></p>
    <p><a href="/user/viewOrder/">View your orders</a></p>
    <p><a href="/user/driverMode/">Into driver mode</a></p>
</body>
</html>
